<div
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 relative"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Reset Password
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form
      class="space-y-6"
      id="reset-password-form"
      action="#"
      method="POST"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div>
        <div class="flex items-center justify-between">
          <label
            for="password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="password"
            name="password"
            type="password"
            required
            formControlName="password"
            [ngClass]="{
              'ring-red-700':
                password.invalid && (password.dirty || password.touched)
            }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            id="password-validation-error"
            class="text-red-700 text-sm leading-6 py-1"
          >
            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="password.errors?.['minlength']">
              Password should have at least 5 characters
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label
            for="confirm-password"
            class="block text-sm font-medium leading-6 text-gray-900"
            >Confirm password</label
          >
        </div>
        <div class="mt-2">
          <input
            id="confirm-password"
            name="confirm-password"
            type="password"
            required
            formControlName="confirmPassword"
            [ngClass]="{
              'ring-red-700':
                confirmPassword.invalid &&
                (confirmPassword.dirty || confirmPassword.touched)
            }"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
          <div
            *ngIf="
              confirmPassword.invalid &&
              (confirmPassword.dirty || confirmPassword.touched)
            "
            id="confirm-password-validation-error"
            class="text-red-700 text-sm leading-6 py-1"
          >
            <div *ngIf="confirmPassword.errors?.['required']">
              Confirm password is required.
            </div>
            <div *ngIf="confirmPassword.errors?.['minlength']">
              Confirm password should have at least 5 characters
            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="
          (confirmPassword.dirty || confirmPassword.touched) &&
          (password.dirty || password.touched) && 
          resetPasswordForm.errors?.['matcherValidator']
        "
        id="matcher-password-validation-error"
        class="text-red-700 text-sm leading-6 py-1"
      >
        Password have to match with confirm password
      </div>

      <div>
        <button
          type="submit"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>

  <app-notification
    [display]="displayNoti"
    [status]="'error'"
    [message]="{ title: 'Reset Password Fail', paragraph: '' }"
  ></app-notification>
</div>
<p>Value: {{ resetPasswordForm.value | json }}</p>
<p>Errors: {{ resetPasswordForm.errors | json }}</p>
<p>Form Status: {{ resetPasswordForm.status }}</p>
