<div
  class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 relative"
>
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img
      class="mx-auto h-10 w-auto"
      src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600"
      alt="Your Company"
    />
    <h2
      class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
    >
      Forgot password
    </h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm space-y-6">
    <div>
      <label
        for="email"
        class="block text-sm font-medium leading-6 text-gray-900"
        >Email address</label
      >
      <div class="mt-2">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          required
          email
          [(ngModel)]="emailInput"
          #email="ngModel"
          [ngClass]="{
            'ring-red-700': email.invalid && (email.dirty || email.touched)
          }"
          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        />
      </div>
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        id="email-validation-error"
        class="text-red-700 text-sm leading-6 py-1"
      >
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">E-mail is invalid</div>
      </div>
    </div>

    <div>
      <button
        type="submit"
        id="send-email-btn"
        (click)="onSendEmail(!email.invalid)"
        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >
        Send Email
      </button>
    </div>

    <app-notification
      [display]="displayNoti"
      [status]="'error'"
      [message]="{ title: 'Send Email Fail', paragraph: '' }"
    ></app-notification>
  </div>
</div>

Email Errors: {{ email.errors | json }} Email Invalid:
{{ email.invalid | json }}
